In [28]:
import sqlite3

In [29]:
con=sqlite3.connect('result_database2.db')

In [30]:
cur=con.cursor()

In [31]:
create_tbl='''create table if not exists result_tbl
              (
                  Student_id int Primary key,
                  Student_name text NOT NULL,
                  subject1_marks int,
                  subject2_marks int,
                  subject3_marks int,
                  subject4_marks int,
                  subject5_marks int)'''

In [32]:
cur.execute(create_tbl)

In [33]:
insert_record='''insert into result_tbl values(1,'Jay Sharma',67,78,77,88,56),
                                              (2,'Shree Patel',75,77,65,87,66),
                                              (3,'Ram Sharma',67,78,77,88,56),
                                              (4,'Ram Patel',49,35,45,58,60),
                                              (5,'Shiv Desai',55,40,67,68,56),
                                              (6,'Shivu Patel',92,93,96,88,85),
                                              (7,'Krishna Prajapati',29,35,43,40,51),
                                              (8,'Krish Patel',70,65,55,62,56),
                                              (9,'Radhika Sharma',87,85,77,70,88),
                                              (10,'Radha Desai',89,98,87,88,86)'''

In [34]:
cur.execute(insert_record)

OperationalError: database is locked

In [ ]:
records='select * from result_tbl'
cur.execute(records)
data=cur.fetchall()

In [ ]:
import csv

In [35]:
with open('result.csv', 'w+', newline='') as file:
    fileobj = csv.writer(file)
    head = ['Student_ID', 'Student_Name', 'Subject1_Marks', 'Subject2_Marks', 'Subject3_Marks', 'Subject4_Marks', 'Subject5_Marks']
    fileobj.writerow(head)
    fileobj.writerows(data)

In [37]:
with open('result.csv', 'r', newline='') as file, open('mainresult2.csv', 'w+', newline='') as file2:
    allre=csv.reader(file)
    fileobj=csv.writer(file2)
    head=next(allre)
    head.extend(['Total_Marks','Percentage','Grade'])
    fileobj.writerow(head)
    for i in allre:
        totalmarks=int(i[2])+int(i[3])+int(i[4])+int(i[5])+int(i[6])
        i.append(totalmarks)
        percentage=i[7]/500*100
        if percentage >= 90:
            grade = 'A+'
        elif percentage >= 80:
            grade = 'A'
        elif percentage >= 70:
            grade = 'B'
        elif percentage >=55 and percentage < 70:
            grade = 'C'
        elif percentage >=30 and percentage < 55 :
            grade = 'D'
        else:
            grade = 'Fail'
        i.extend([percentage,grade])
        fileobj.writerow(i)
    file2.seek(0)
    
    allrecords = file2.readlines()
    for record in allrecords: 
            print(record)

Student_ID,Student_Name,Subject1_Marks,Subject2_Marks,Subject3_Marks,Subject4_Marks,Subject5_Marks,Total_Marks,Percentage,Grade

1,Jay Sharma,67,78,77,88,56,366,73.2,B

2,Shree Patel,75,77,65,87,66,370,74.0,B

3,Ram Sharma,67,78,77,88,56,366,73.2,B

4,Ram Patel,49,35,45,58,60,247,49.4,D

5,Shiv Desai,55,40,67,68,56,286,57.199999999999996,C

6,Shivu Patel,92,93,96,88,85,454,90.8,A+

7,Krishna Prajapati,29,35,43,40,51,198,39.6,D

8,Krish Patel,70,65,55,62,56,308,61.6,C

9,Radhika Sharma,87,85,77,70,88,407,81.39999999999999,A

10,Radha Desai,89,98,87,88,86,448,89.60000000000001,A

In [38]:
with open('mainresult2.csv', 'r', newline='') as file2:
    head = next(file2)
    header = "{:^12} {:^20} {:^15}\n-----------------------------------------------------".format('Student_ID', 'Student_Name', 'Percentage')
    print(header)
    d = csv.reader(file2)
    d = sorted(d, key=lambda stud: stud[8], reverse=True)
    c=0

    for i in d:
        record_line = "{:^12} {:^20} {:^15} ".format(i[0], i[1], i[8])
        print(record_line)
        c+=1
        if c==3:
            break

 Student_ID      Student_Name       Percentage
-----------------------------------------------------
     6           Shivu Patel           90.8
     10          Radha Desai      89.60000000000001
     9          Radhika Sharma    81.39999999999999